@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

html,
body,
#main {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --destructive-foreground: oklch(0.985 0 0);
  --info: oklch(0.6 0.118 184.704);
  --info-foreground: oklch(0.985 0 0);
  --success: oklch(0.696 0.17 162.48);
  --success-foreground: oklch(0.145 0 0);
  --warning: oklch(0.828 0.189 84.429);
  --warning-foreground: oklch(0.145 0 0);
  --invert: oklch(0.145 0 0);
  --invert-foreground: oklch(0.985 0 0)
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: inherit
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0
}

body,
input,
textarea,
select,
button {
  font-size: 12px;
  font-family: sans-serif
}

body {
  --token-a3f4f8c8-1935-4f74-9fef-7c02dafb6c1f: rgba(0, 0, 0, 0);
  --token-44021ae2-4cdd-419c-805c-4b1fd642bfaa: rgb(255, 255, 255);
  --token-d3c732bc-55cf-476f-8dd2-e130b23f6381: rgb(0, 0, 0);
  --token-ccc95a9a-25f2-49cc-a0af-ecdbff23bfba: rgb(214, 214, 214);
  --token-9cf61545-9ec8-4c23-873d-6ec7f44bfe14: rgb(229, 229, 232);
  --token-0c21c7c4-decf-4cb8-98b2-1f4ecf98c018: rgb(248, 249, 250);
  --token-64e377a5-0d6a-419d-892d-eb08deb7230b: rgb(229, 229, 232);
  --token-e9d5663e-56be-412a-882e-587896e30dd7: rgba(255, 255, 255, .5);
  --token-ea8ad416-293d-4e74-be7b-84fb51f4c7d6: rgba(38, 38, 38, .92);
  --token-d602a9d1-da3b-45d6-b039-eac0d7c79341: rgb(0, 94, 255);
  --token-e1c52d29-6b20-4ee3-afb3-f179ac191e9c: rgb(251, 251, 251);
  --token-0ba14857-4cac-4c3a-9d51-2216d72bf9ab: rgb(209, 245, 255);
  --token-63f804c8-3c4f-490d-9524-ef19f06222dd: rgb(237, 247, 255);
  --token-eb034d87-a58b-4a0b-902d-43f88ea2216d: rgb(242, 242, 242);
  --token-03d81d49-441b-4a27-ac27-adbec865c0a8: rgb(250, 250, 250);
  --token-01b0806d-1c81-4041-802e-d5d50172987c: rgb(240, 241, 242);
  --token-4fb69519-fab9-4e89-9296-e6d87759a143: rgb(10, 141, 255);
  --token-53318a49-e2d8-4d3b-98d7-8563add13d3d: rgb(56, 56, 61);
  --token-52749bb0-1899-4563-80ac-ac8a27c04772: rgb(145, 145, 145);
  --token-f642ac05-77e4-41de-9309-2e757a500ae9: rgb(248, 248, 246);
  --token-e463222a-c3ec-4920-8338-555ca22c2bd5: rgba(10, 141, 255, .15);
  --token-8876de5e-add7-4fdc-9267-42dffc0a9c6c: rgba(250, 255, 255, .5);
  --token-79165e52-862e-4732-81d9-841a5e868196: rgb(68, 204, 255)
}

@font-face {
  font-family: Fragment Mono;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/fragmentmono/v5/4iCr6K5wfMRRjxp0DA6-2CLnB45HhrUI.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Fragment Mono;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/fragmentmono/v5/4iCr6K5wfMRRjxp0DA6-2CLnB41HhrUI.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Fragment Mono;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/fragmentmono/v5/4iCr6K5wfMRRjxp0DA6-2CLnB4NHhg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/5vvr9Vy74if2I6bQbJvbw7SY1pQ.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/EOr0mi4hNtlgWNn9if640EZzXCo.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/Y9k9QrlZAqio88Klkmbd8VoMQc.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/OYrD2tBIBPvoJXiIHnLoOXnY9M.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/JeYwfuaPfZHQhEG8U5gtPDZ7WQ.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/vQyevYAyHtARFwPqUzQGpnDs.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/b6Y37FthZeALduNqHicBT6FutY.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/mkY5Sgyq51ik0AMrSBwhm9DJg.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 900;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/X5hj6qzcHUYv7h1390c8Rhm6550.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 900;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/gQhNpS3tN86g8RcVKYUUaKt2oMQ.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 900;
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/cugnVhSraaRyANCaUtI5FV17wk.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 900;
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/5HcVoGak8k5agFJSaKa4floXVu0.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 900;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/jn4BtSPLlS0NDp1KiFAtFKiiY0o.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 900;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/P2Bw01CtL0b9wqygO0sSVogWbo.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 900;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/05KsVHGDmqXSBXM4yRZ65P8i0s.woff2);
  font-display: block;
  font-style: italic;
  font-weight: 900;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/ky8ovPukK4dJ1Pxq74qGhOqCYI.woff2);
  font-display: block;
  font-style: italic;
  font-weight: 900;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/vvNSqIj42qeQ2bvCRBIWKHscrc.woff2);
  font-display: block;
  font-style: italic;
  font-weight: 900;
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/3ZmXbBKToJifDV9gwcifVd1tEY.woff2);
  font-display: block;
  font-style: italic;
  font-weight: 900;
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/FNfhX3dt4ChuLJq2PwdlxHO7PU.woff2);
  font-display: block;
  font-style: italic;
  font-weight: 900;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/g0c8vEViiXNlKAgI4Ymmk3Ig.woff2);
  font-display: block;
  font-style: italic;
  font-weight: 900;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/efTfQcBJ53kM2pB1hezSZ3RDUFs.woff2);
  font-display: block;
  font-style: italic;
  font-weight: 900;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/H89BbHkbHDzlxZzxi8uPzTsp90.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/u6gJwDuwB143kpNK1T1MDKDWkMc.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/43sJ6MfOPh1LCJt46OvyDuSbA6o.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/wccHG0r4gBDAIRhfHiOlq6oEkqw.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/WZ367JPwf9bRW6LdTHN8rXgSjw.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/QxmhnWTzLtyjIiZcfaLIJ8EFBXU.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/2A4Xx7CngadFGlVV4xrO06OBHY.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/5A3Ce6C9YYmCjpQx9M4inSaKU.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/Qx95Xyt0Ka3SGhinnbXIGpEIyP4.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/6mJuEAguuIuMog10gGvH5d3cl8.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/xYYWaj7wCU5zSQH0eXvSaS19wo.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/otTaNuNpVK4RbdlT7zDDdKvQBA.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/d3tHnaQIAeqiE5hGcRw4mmgWYU.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/DolVirEGb34pEXEp8t8FQBSK4.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/DpPBYI0sL4fYLgAkX8KXOPVt7c.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/4RAEQdEOrcnDkhHiiCbJOw92Lk.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/1K3W8DizY3v4emK8Mb08YHxTbs.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/tUSCtfYVM1I1IchuyCwz9gDdQ.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/VgYFWiwsAC5OYxAycRXXvhze58.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/DXD0Q7LSl7HEvDzucnyLnGBHM.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/GIryZETIX4IFypco5pYZONKhJIo.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/CfMzU8w2e7tHgF4T4rATMPuWosA.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/867QObYax8ANsfX4TGEVU9YiCM.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/Oyn2ZbENFdnW7mt2Lzjk1h9Zb9k.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/cdAe8hgZ1cMyLu9g005pAW3xMo.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/DOfvtmE1UplCq161m6Hj8CSQYg.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/vFzuJY0c65av44uhEKB6vyjFMg.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/tKtBcDnBMevsEEJKdNGhhkLzYo.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/khkJkwSL66WFg8SX6Wa726c.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/0E7IMbDzcGABpBwwqNEt60wU0w.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/NTJ0nQgIF0gcDelS14zQ9NR9Q.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/QrcNhgEPfRl0LS8qz5Ln8olanl8.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/JEXmejW8mXOYMtt0hyRg811kHac.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/ksvR4VsLksjpSwnC2fPgHRNMw.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/uy9s0iWuxiNnVt8EpTI3gzohpwo.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/PONfPc6h4EPYwJliXQBmjVx7QxI.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/zsnJN7Z1wdzUvepJniD3rbvJIyU.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/UrzZBOy7RyJEWAZGduzOeHiHuY.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/996sR9SfSDuYELz8oHhDOcErkY.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/ftN1HpyPVJEoEb4q36SOrNdLXU.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/jN39PDxZWEwjG7Csryx3JN2r2Y.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/JAur4lGGSGRGyrFi59JSIKqVgU.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/if4nAQEfO1l3iBiurvlUSTaMA.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 800;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/GdJ7SQjcmkU1sz7lk5lMpKUlKY.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 800;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/sOA6LVskcCqlqggyjIZe0Zh39UQ.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 800;
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/zUCSsMbWBcHOQoATrhsPVigkc.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 800;
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/6eYp9yIAUvPZY7o0yfI4e2OP6g.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 800;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/aKoimhPBfs6C7Am2HTTVjGcpE.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 800;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/L9nHaKi7ULzGWchEehsfwttxOwM.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 800;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Switzer;
  src: url(https://framerusercontent.com/third-party-assets/fontshare/wf/BLNB4FAQFNK56DWWNF7PMGTCOTZHOEII/ST3WKSSDMBK2MIQQO3MAVYWLF4FTOLFV/6IN5WOLRCYP4G4MOCOHOMXNON6Q7MDAR.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: Switzer;
  src: url(https://framerusercontent.com/third-party-assets/fontshare/wf/HBNTRIISA5MEXGL5WPYI7CV2HIWTDV3Q/YDPDINVT673XLXNSTMLG4JNCZZMVVNPN/Y7SCNZJOT2MW5ADSGOFLDGH4TNL4JCQY.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: Switzer;
  src: url(https://framerusercontent.com/third-party-assets/fontshare/wf/LVPXCMXCWY3V7PSXRMGRQUJDAS2DT47E/BPEVRT2HG7PPVVUS7A67MZQQZW6LR6A5/A7AS3UPAGLC7MDVC67SBNTE5FGF2Z2RG.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 700
}

@font-face {
  font-family: Switzer;
  src: url(https://framerusercontent.com/third-party-assets/fontshare/wf/XVUY2PHYBA6KMN4RMEMJPHQSTKCQ267G/UICOQA6KCSHFOSCPYDVVDNNCDKYFXHJB/O34WRFYO7JNWEBBA2LRV2XYRUSYXYDKH.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 400
}

@font-face {
  font-family: Switzer;
  src: url(https://framerusercontent.com/third-party-assets/fontshare/wf/5SZVFDB7V52TI6ULVC6J3WQZQCIZVDV5/ODYPSTCUDMKSTYIPTV4CLQ7URIK7XYBJ/YS3VPNVO4B3TOJMEXDGFZQ4TLZGGSRZC.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 600
}

@font-face {
  font-family: Switzer;
  src: url(https://framerusercontent.com/third-party-assets/fontshare/wf/OYB4CXKJQXKTNSLJMTDQOIVUL2V5EL7S/WYO2P7DQVV5RNXGMCUO2HL4RJP4VFUAS/6XPIMU23OJVRY676OG5YVJMWEHWICATX.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500
}

@font-face {
  font-family: Switzer;
  src: url(https://framerusercontent.com/third-party-assets/fontshare/wf/A54N3N7J5AY6YOPYJKLHF5VH7G7HSSUN/ERWIWIB434FMFHQFSSBD233EP3C62HOI/TOHQHMLIEIPKVF2JPM6SVKXFYGO5G2TJ.woff2);
  font-display: block;
  font-style: normal;
  font-weight: 900
}

@font-face {
  font-family: Switzer;
  src: url(https://framerusercontent.com/third-party-assets/fontshare/wf/FQHNKZEV35SAMFWVFCFSORJXUNHNILL4/X4YCR4COAQTK5XB6JCDDBS7Q33AQWUAE/J7XVDQ2IJENINPUAVBDJNH3VEXVDSPQQ.woff2);
  font-display: block;
  font-style: italic;
  font-weight: 900
}

@font-face {
  font-family: Switzer;
  src: url(https://framerusercontent.com/third-party-assets/fontshare/wf/2UC2M25RQ2XRSGCBJRQ2G5SNXCROECQB/QJT3T33NN372363FJY5EO5D63GKDKLDK/IOAFMDAPNX3S6OL2GYQQJ2FFJIRSVB3N.woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 600
}

@font-face {
  font-family: Inter Placeholder;
  src: local("Arial");
  ascent-override: 89.79%;
  descent-override: 22.36%;
  line-gap-override: 0%;
  size-adjust: 107.89%
}

@font-face {
  font-family: Switzer Placeholder;
  src: local("Arial");
  ascent-override: 96.67%;
  descent-override: 24.66%;
  line-gap-override: 8.88%;
  size-adjust: 101.38%
}

body {
  --framer-will-change-override: none
}

@supports (background: -webkit-named-image(i)) and (not (grid-template-rows: subgrid)) {
  body {
    --framer-will-change-override: transform
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-invert-foreground: var(--invert-foreground);
  --color-invert: var(--invert);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-destructive-foreground: var(--destructive-foreground);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --destructive-foreground: oklch(0.145 0 0);
  --info: oklch(0.488 0.243 264.376);
  --info-foreground: oklch(0.985 0 0);
  --success: oklch(0.696 0.17 162.48);
  --success-foreground: oklch(0.985 0 0);
  --warning: oklch(0.828 0.189 84.429);
  --warning-foreground: oklch(0.145 0 0);
  --invert: oklch(0.985 0 0);
  --invert-foreground: oklch(0.145 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}