@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumPenScript";
  font-weight: 400;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/NanumPenScript.woff2") format("woff2");
}

.backdrop-blur {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.backdrop-blur-nav {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  margin-right: 2rem;
  display: inline-block;
  width: 1rem;
  text-align: right;
  color: rgb(75 85 99);
}

@media (prefers-color-scheme: dark) {
  code .line::before {
    color: rgb(75 85 99);
  }
}
.mask {
  mask-image: radial-gradient(rgba(0, 0, 0, 1) 0%, transparent 80%);
}

a {
  scroll-margin-top: 6rem;
  scroll-margin-bottom: 6rem;
  text-decoration-color: rgb(156 163 175);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.anchor-link {
  visibility: hidden;
  position: absolute;
  margin-left: -1rem;
  width: 75%;
  max-width: 42rem;
  cursor: pointer;
  padding-right: 0.5rem;
  text-decoration: none;
}

.anchor-link:hover {
  visibility: visible;
}

.anchor-link:after {
  color: rgb(156 163 175);
  content: "#";
}

@media (prefers-color-scheme: dark) {
  .anchor-link:after {
    color: rgb(75 85 99);
  }
}

*:hover > .anchor-link {
  visibility: visible;
}
