@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumPenScript";
  font-weight: 400;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/NanumPenScript.woff2") format("woff2");
}

.backdrop-blur {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.backdrop-blur-nav {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  @apply mr-8 inline-block w-4 text-right text-gray-600;
}
.mask {
  mask-image: radial-gradient(rgba(0, 0, 0, 1) 0%, transparent 80%);
}

a {
  @apply scroll-my-24 decoration-gray-400 transition-all;
}

.anchor-link {
  @apply invisible absolute -ml-4 w-3/4 max-w-2xl cursor-pointer pr-2 no-underline;
}

.anchor-link:hover {
  @apply visible;
}

.anchor-link:after {
  @apply text-gray-400 dark:text-gray-600;
  content: "#";
}

*:hover > .anchor-link {
  @apply visible;
}



@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
